__pycache__
runs/
models/*.pt
models/*.ptl
models/*.onnx
models/*.pb
models/best_web_model/
models/best_openvino_model/
models/best_saved_model
*.txt
*.png
*.npy
TrainRes/train
TrainRes/val
best_openvino_model/
best_web_model/
tre.py
build/
wandb/
TrainRes/
coco128/
coco/
.idea