# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib~=3.7.1
numpy~=1.24.1
opencv-python~=4.6.0.66
PyYAML~=6.0
requests~=2.28.1
scipy~=1.11.1
torch
scikit-learn
mss
# torch-directml for windows user
tqdm~=4.65.0
#pycuda==2022.2.2
#nvidia-pyindex==1.0.9
# nvidia-tensorrt==8.4.3.1
#pafy==0.5.5
#youtube_dl==2021.12.17
# Logging -------------------------------------
tensorboard
albumentations
# wandb

# Plotting ------------------------------------
pandas~=2.0.3
seaborn~=0.12.2
termcolor~=2.3.0
# Export --------------------------------------

#coremltools>=6.1  # CoreML export
#onnx>=1.13.0  # ONNX export
#onnxsim>=0.4.13
#onnxmltools>=1.11.1
#onnx_tf>=1.10.0
#scikit-learn<=1.1.2  # CoreML quantization
#tensorflow>=2.11.1  # TFLite export
#tensorflowjs>=3.9.0  # TF.js export
#openvino-dev==2022.3.0 # OpenVINO export

# Extras --------------------------------------
pyadl
ipython
psutil~=5.9.5
# onnx-graphsurgeon==0.3.25
# pycocotools>=2.0  # COCO mAP
# roboflow

Pillow~=9.3.0
onnx~=1.14.0
# torchvision==0.15.1
thop~=0.1.1-2209072238
# tensorflow
# keras
onnxruntime~=1.15.1
onnxmltools~=1.11.2
torchvision
timm~=0.9.2
onnxsim~=0.4.33