# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch==1.13
torchvision==0.14.0
torch-directml
tqdm>=4.41.0
protobuf<4.21.3
pycuda
nvidia-pyindex
nvidia-tensorrt
youtube_dl
# Logging -------------------------------------
tensorboard>=2.4.1
wandb
termcolor
# Plotting ------------------------------------
pandas>=1.1.4
seaborn

# Export --------------------------------------

coremltools>=4.1  # CoreML export
onnx>=1.9.0  # ONNX export
onnxsim
onnxmltools
onnx-simplifier>=0.3.6  # ONNX simplifier
scikit-learn<=1.1.2  # CoreML quantization
tensorflow>=2.4.1  # TFLite export
tensorflowjs>=3.9.0  # TF.js export
openvino-dev  # OpenVINO export

# Extras --------------------------------------
pyadl
ipython  # interactive notebook
psutil  # system utilization
thop # FLOPs computation
albumentations
onnx-graphsurgeon
# pycocotools>=2.0  # COCO mAP
# roboflow
